<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{> head }}
</head>

<body>
{{> navbar }}

<div class="container col-12 w-100">
    {{{body}}}
    {{> modal }}
</div>

<script src="../js/custom.js"></script>

</body>
</html>